TZ=America/Los_Angeles
DISCORD_TOKEN=your_bot_token
DISCORD_CLIENT_ID=your_application_id
# Recommended while developing; guild commands update immediately.
DISCORD_GUILD_ID=your_server_id
MOVIE_NIGHTS_CHANNEL=movie-nights
DATA_FILE=./data/movie-nights.json
